<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script>
        let refreshInterval = {{ refresh_interval }} * 1000;

        // Функция для обновления страницы
        function autoRefresh() {
            if (refreshInterval > 0) {
                setTimeout(() => {
                    location.reload();
                }, refreshInterval);
            }
        }

        // Устанавливаем начальный интервал обновления
        autoRefresh();

        // Функция для обновления интервала через AJAX
        function updateRefreshInterval(interval) {
            fetch('/set_refresh_interval', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({refresh_interval: interval})
            }).then(response => response.json())
            .then(data => {
                if (data.refresh_interval !== undefined) {
                    refreshInterval = data.refresh_interval * 1000;
                    autoRefresh();
                }
            }).catch(error => console.error('Error updating interval:', error));
        }
    </script>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Total Users: {{ total_users }}</p>
    <p>Total Orders: {{ total_orders }}</p>
    <p>Total Orders Amount: {{ total_orders_amount }}</p>

    <h1>Users</h1>
    <p>ID - email - balance</p>
    {% for user in users %}
        <p>{{ user.id }} - {{ user.email }} - {{ user.balance }}</p>
    {% endfor %}

    <!-- Управление интервалом автообновления -->
    <h2>Refresh Interval</h2>
    <select onchange="updateRefreshInterval(this.value)">
        <option value="0" {% if refresh_interval == 0 %}selected{% endif %}>No Auto-Refresh</option>
        <option value="10" {% if refresh_interval == 10 %}selected{% endif %}>10 Seconds</option>
        <option value="15" {% if refresh_interval == 15 %}selected{% endif %}>15 Seconds</option>
        <option value="30" {% if refresh_interval == 30 %}selected{% endif %}>30 Seconds</option>
        <option value="60" {% if refresh_interval == 60 %}selected{% endif %}>1 Minute</option>
    </select>
    <div>
    <h3>Изменение баланса пользователя</h3>
    <form id="updateBalanceForm">
        <label for="user_id">ID пользователя:</label>
        <input type="number" id="user_id" name="user_id" required>
        <label for="balance">Новый баланс:</label>
        <input type="number" step="0.01" id="balance" name="balance" required>
        <button type="submit">Обновить баланс</button>
    </form>
    <div id="balanceMessage"></div>
</div>

<script>
    document.getElementById('updateBalanceForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const user_id = document.getElementById('user_id').value;
        const balance = document.getElementById('balance').value;

        fetch('/admin/update_balance', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ user_id, balance }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                document.getElementById('balanceMessage').textContent = 'Ошибка: ' + data.error;
            } else {
                document.getElementById('balanceMessage').textContent = 'Успех: ' + data.message + '. Новый баланс: ' + data.balance;
            }
        })
        .catch(error => {
            document.getElementById('balanceMessage').textContent = 'Ошибка: ' + error;
        });
    });
</script>
    <div class="container">
        <table class="orders-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Email пользователя</th>
                    <th>Сумма</th>
                    <th>Адрес</th>
                    <th>Дата</th>
                    <th>Состав заказа</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user.email }}</td>
                    <td>{{ order.total_amount }} руб.</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>
                        <ul>
                            {% for item in order.products %}
                            <li>
                                <img src="{{ url_for('static', filename=item.img) }}" alt="{{ item.name }}" style="width: 50px; height: 50px;">
                                id: {{ item.id }} — {{ item.name }} ({{ item.quantity }} шт.)
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
