<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наклейки за копейки</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<header>
    <div class="logo">
        <img src="{{ url_for('static', filename='imgs/logo.gif') }}" alt="логотип" height="80px" width="80px">

        <nav>
            <a href="{{ url_for('site.main_page') }}"><h2>Главная</h2></a>
            <a id="catalog-link" onmouseover="showMenu()" onmouseout="scheduleHideMenu()"><h2>Каталог</h2></a>
            <a href="#"><h2>Корзина</h2></a>
            <a href="{{ url_for('login.login') }}"><h2>Войти</h2></a>
        </nav>
        <div class="dropdown-menu" id="dropdown-menu"
             onmouseover="keepMenuVisible()" onmouseout="scheduleHideMenu()">
            <ul>
                <li>Наклейки
                    <ul>
                        <li><a href="{{ url_for('site.stickerPacks') }}">Стикерпаки</a></li>
                        <li>Автомобильные наклейки</li>
                        <li>Интерьерные наклейки</li>
                        <li>3D стикеры</li>
                    </ul>
                </li>
                <li>Акриловая продукция
                    <ul>
                        <li>Фигурки</li>
                        <li>Брелки</li>
                        <li>Значки</li>
                    </ul>
                </li>
                <li>Для банковских карт
                    <ul>
                        <li>Наклейки на банковские карты</li>
                        <li>Голографические наклейки на банковские карты</li>
                        <li>Картхолдеры</li>
                    </ul>
                </li>
                <li>Прочее
                    <ul>
                        <li>Наклейки с пленкой для переноса</li>
                        <li>Слайдеры на ногти</li>
                        <li>Обложки на паспорт</li>
                        <li>Тканевые баннеры</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<script>
    const dropdownMenu = document.getElementById("dropdown-menu");
    let hideTimeout;

    function showMenu() {
        clearTimeout(hideTimeout); // Отменить запланированное скрытие
        dropdownMenu.style.display = "block";
    }

    function scheduleHideMenu() {
        hideTimeout = setTimeout(() => {
            dropdownMenu.style.display = "none";
        }, 300); // Задержка перед скрытием, чтобы пользователь успел навести на меню
    }

    function keepMenuVisible() {
        clearTimeout(hideTimeout); // Отменить запланированное скрытие при наведении на меню
    }
</script>
<main>
    <div>
        <img src="{{ url_for('static', filename='imgs/welcome.gif') }}" alt="добро пожаловать" height="400px" width="100%">
        <h1><font size="7">О Компании</font></h1>
        <p><font size="5">Компания «Наклейки за копейки» предоставляет услуги по производству виниловых наклеек (плёнка ПВХ) оптом и в розницу.
            Работаем без посредников. Собственные производственные цеха с полным комплексом оборудования.</font></p>
        <h1><font size="7">Контакты</font></h1>
        <p><font size="5"><b>«Наклейки за Копейки»</b></font></p>
        <p><font size="4">Наш адрес: г. Курск, ул. Литовская, 41</font></p>
        <p><font size="4">Телефон: +7 (4712) 220-578</font></p>

        <p><font size="4">Инстаграм: @Nakleykiz</font></p>
        <p><font size="4">ВКонтакте: @Nakleykiz</font></p>

    </div>
</main>
</body>
</html>
