{% extends "base.html" %}

{% block content %}
    <div>
        <img src="{{ url_for('static', filename='imgs/welcome.gif') }}" alt="добро пожаловать" height="400px" width="100%">
        <h1><font size="7">О Компании</font></h1>
        <p><font size="5">Компания «Наклейки за копейки» предоставляет услуги по производству виниловых наклеек (плёнка ПВХ) оптом и в розницу.
            Работаем без посредников. Собственные производственные цеха с полным комплексом оборудования.</font></p>
        <h1><font size="7">Контакты</font></h1>
        <p><font size="5"><b>«Наклейки за Копейки»</b></font></p>
        <p><font size="4">Наш адрес: г. Курск, ул. Литовская, 41</font></p>
        <p><font size="4">Телефон: +7 (4712) 220-578</font></p>

        <p><font size="4">Инстаграм: @Nakleykiz</font></p>
        <p><font size="4">ВКонтакте: @Nakleykiz</font></p>

    </div>
{% endblock %}
