{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        <div class="card">
            <h2>Ваша наклейка</h2>
            <img src="{{ url_for('static', filename=sticker.image_url) }}" alt="Сгенерированная наклейка">
            <p>{{ sticker.description }}</p>
            <form method="POST" action="{{ url_for('site.add_sticker_to_cart', sticker_id=sticker.id) }}">
                <button type="submit" class="add-to-card">Добавить в корзину</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}